In [1]:
import os

import pandas as pd

In [3]:
# Identify a variable for the path needed to retrieve the data
mar2019_path = os.path.join('Data', 'Monthly', 'JC-201903-citibike-tripdata.csv')

# Read csv file and store into Pandas DataFrame
mar2019_df = pd.read_csv(mar2019_path)

# View the values in first 5 rows of data frame
mar2019_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,306,2019-03-01 06:47:08.2110,2019-03-01 06:52:14.7150,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26272,Subscriber,1989,1
1,123,2019-03-01 07:30:53.0220,2019-03-01 07:32:56.7770,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26192,Subscriber,1966,1
2,328,2019-03-01 08:18:30.4030,2019-03-01 08:23:59.0590,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,26226,Subscriber,1971,2
3,95,2019-03-01 11:04:47.2020,2019-03-01 11:06:22.8130,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26204,Subscriber,1985,1
4,169,2019-03-01 11:51:29.4170,2019-03-01 11:54:19.2120,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29449,Subscriber,1971,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23601,916,2019-03-29 13:38:36.1750,2019-03-29 13:53:53.0100,3694,Jackson Square,40.711130,-74.078900,3185,City Hall,40.717733,-74.043845,29277,Subscriber,1988,1
23602,661,2019-03-29 15:29:18.7510,2019-03-29 15:40:20.2510,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26235,Subscriber,1983,2
23603,577,2019-03-30 13:43:09.2090,2019-03-30 13:52:46.7140,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730897,-74.063913,29596,Subscriber,1988,1
23604,585,2019-03-31 08:33:21.5200,2019-03-31 08:43:06.7520,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730897,-74.063913,26192,Subscriber,1988,1
23605,914,2019-03-31 14:59:32.3980,2019-03-31 15:14:46.8480,3694,Jackson Square,40.711130,-74.078900,3185,City Hall,40.717733,-74.043845,29634,Subscriber,1993,2

In [8]:
apr2019_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,107,2019-04-01 07:48:04.7540,2019-04-01 07:49:52.3590,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29536,Subscriber,1966,1
1,493,2019-04-01 12:41:09.6540,2019-04-01 12:49:23.0290,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,26191,Customer,1990,1
2,512,2019-04-01 14:27:07.9400,2019-04-01 14:35:40.9370,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29302,Subscriber,1987,2
3,196,2019-04-01 15:07:38.1510,2019-04-01 15:10:54.6260,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26220,Subscriber,1989,1
4,463,2019-04-01 16:19:24.6940,2019-04-01 16:27:08.6450,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,26228,Subscriber,1995,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33051,335,2019-04-27 20:12:13.3830,2019-04-27 20:17:48.5690,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26303,Subscriber,1983,2
33052,679,2019-04-28 13:23:04.7290,2019-04-28 13:34:23.7550,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730897,-74.063913,29294,Subscriber,1988,1
33053,793,2019-04-29 13:46:39.2540,2019-04-29 13:59:52.2890,3694,Jackson Square,40.711130,-74.078900,3640,Journal Square,40.733670,-74.062500,26275,Subscriber,1991,2
33054,706,2019-04-30 10:47:41.6730,2019-04-30 10:59:28.5910,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730897,-74.063913,29666,Subscriber,1991,2
33055,721,2019-04-30 19:30:56.2830,2019-04-30 19:42:57.6050,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730897,-74.063913,29609,Subscriber,1988,1

In [4]:
mar2019_df.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,23606.000000,23606.000000,23606.000000,23606.000000,23606.000000,23606.000000,23606.000000,23606.000000,23606.000000,23606.000000
mean,546.176353,3273.025756,40.722679,-74.046551,3268.292934,40.722266,-74.046084,28396.220834,1981.057994,1.156952
std,3288.178650,145.557364,0.006955,0.010534,150.409518,0.006806,0.010543,1528.668338,10.249296,0.469962
min,61.000000,3183.000000,40.709651,-74.083639,327.000000,40.709651,-74.083639,20683.000000,1941.000000,0.000000
25%,213.000000,3192.000000,40.718355,-74.050656,3186.000000,40.718355,-74.050389,26280.000000,1975.000000,1.000000
50%,307.000000,3207.000000,40.721525,-74.043991,3205.000000,40.719586,-74.043117,29286.000000,1984.000000,1.000000
75%,487.000000,3273.000000,40.727224,-74.038526,3273.000000,40.726012,-74.038526,29537.000000,1989.000000,1.000000
max,260817.000000,3694.000000,40.748716,-74.032108,3694.000000,40.768254,-73.988639,29681.000000,2002.000000,2.000000

In [5]:
# Identify variables for the paths needed to retrieve the data
apr2019_path = os.path.join('Data', 'Monthly', 'JC-201904-citibike-tripdata.csv')
may2019_path = os.path.join('Data', 'Monthly', 'JC-201905-citibike-tripdata.csv')
jun2019_path = os.path.join('Data', 'Monthly', 'JC-201906-citibike-tripdata.csv')
jul2019_path = os.path.join('Data', 'Monthly', 'JC-201907-citibike-tripdata.csv')
aug2019_path = os.path.join('Data', 'Monthly', 'JC-201908-citibike-tripdata.csv')

mar2020_path = os.path.join('Data', 'Monthly', 'JC-202003-citibike-tripdata.csv')
apr2020_path = os.path.join('Data', 'Monthly', 'JC-202004-citibike-tripdata.csv')
may2020_path = os.path.join('Data', 'Monthly', 'JC-202005-citibike-tripdata.csv')
jun2020_path = os.path.join('Data', 'Monthly', 'JC-202006-citibike-tripdata.csv')
jul2020_path = os.path.join('Data', 'Monthly', 'JC-202007-citibike-tripdata.csv')
aug2020_path = os.path.join('Data', 'Monthly', 'JC-202008-citibike-tripdata.csv')

mar2021_path = os.path.join('Data', 'Monthly', 'JC-202103-citibike-tripdata.csv')
apr2021_path = os.path.join('Data', 'Monthly', 'JC-202104-citibike-tripdata.csv')
may2021_path = os.path.join('Data', 'Monthly', 'JC-202105-citibike-tripdata.csv')

# Read csv files and store into Pandas DataFrame
apr2019_df = pd.read_csv(apr2019_path)
may2019_df = pd.read_csv(may2019_path)
jun2019_df = pd.read_csv(jun2019_path)
jul2019_df = pd.read_csv(jul2019_path)
aug2019_df = pd.read_csv(aug2019_path)

mar2020_df = pd.read_csv(mar2020_path)
apr2020_df = pd.read_csv(apr2020_path)
may2020_df = pd.read_csv(may2020_path)
jun2020_df = pd.read_csv(jun2020_path)
jul2020_df = pd.read_csv(jul2020_path)
aug2020_df = pd.read_csv(aug2020_path)

mar2021_df = pd.read_csv(mar2021_path)
apr2021_df = pd.read_csv(apr2021_path)
may2021_df = pd.read_csv(may2021_path)

In [6]:
# View another df
aug2020_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,561,2020-08-01 00:00:16.5960,2020-08-01 00:09:38.5610,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,42303,Customer,1994,2
1,236,2020-08-01 00:00:46.3900,2020-08-01 00:04:42.8890,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,44989,Subscriber,1996,1
2,384,2020-08-01 00:02:38.9250,2020-08-01 00:09:03.7590,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,41696,Subscriber,1984,2
3,1302,2020-08-01 00:03:27.0270,2020-08-01 00:25:09.2120,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,42310,Customer,1993,1
4,5561,2020-08-01 00:03:57.4810,2020-08-01 01:36:38.5000,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,42346,Customer,1995,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43262,162,2020-08-31 23:43:15.8540,2020-08-31 23:45:58.4550,3186,Grove St PATH,40.719586,-74.043117,3279,Dixon Mills,40.721630,-74.049968,44787,Subscriber,1977,1
43263,400,2020-08-31 23:46:19.9130,2020-08-31 23:53:00.3610,3481,York St,40.716490,-74.041050,3187,Warren St,40.721124,-74.038051,19153,Subscriber,1986,1
43264,288,2020-08-31 23:47:16.8680,2020-08-31 23:52:05.5550,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,42434,Subscriber,1960,1
43265,199,2020-08-31 23:50:37.2650,2020-08-31 23:53:56.9490,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,44226,Subscriber,1994,1
43266,333,2020-08-31 23:55:30.8050,2020-09-01 00:01:04.4110,3211,Newark Ave,40.721525,-74.046305,3270,Jersey & 6th St,40.725289,-74.045572,42437,Subscriber,1984,2

In [10]:
combined2019sprsummer_df = pd.concat((mar2019_df, apr2019_df, may2019_df, jun2019_df, jul2019_df, aug2019_df), axis=0)
combined2019sprsummer_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,306,2019-03-01 06:47:08.2110,2019-03-01 06:52:14.7150,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26272,Subscriber,1989,1
1,123,2019-03-01 07:30:53.0220,2019-03-01 07:32:56.7770,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26192,Subscriber,1966,1
2,328,2019-03-01 08:18:30.4030,2019-03-01 08:23:59.0590,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,26226,Subscriber,1971,2
3,95,2019-03-01 11:04:47.2020,2019-03-01 11:06:22.8130,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26204,Subscriber,1985,1
4,169,2019-03-01 11:51:29.4170,2019-03-01 11:54:19.2120,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29449,Subscriber,1971,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48706,384,2019-08-31 23:40:45.2450,2019-08-31 23:47:09.8810,3639,Harborside,40.719252,-74.034234,3203,Hamilton Park,40.727596,-74.044247,29522,Subscriber,1988,1
48707,633,2019-08-31 23:45:55.6660,2019-08-31 23:56:29.5350,3186,Grove St PATH,40.719586,-74.043117,3185,City Hall,40.717733,-74.043845,29679,Customer,1997,1
48708,324,2019-08-31 23:50:27.9220,2019-08-31 23:55:52.8420,3276,Marin Light Rail,40.714584,-74.042817,3211,Newark Ave,40.721525,-74.046305,26198,Subscriber,1997,2
48709,126,2019-08-31 23:52:21.9250,2019-08-31 23:54:28.5820,3211,Newark Ave,40.721525,-74.046305,3209,Brunswick St,40.724176,-74.050656,29512,Subscriber,1998,1
48710,690,2019-08-31 23:56:55.1530,2019-09-01 00:08:25.2370,3185,City Hall,40.717733,-74.043845,3277,Communipaw & Berry Lane,40.714358,-74.066611,26223,Subscriber,1992,1

In [11]:
combined2020sprsummer_df = pd.concat((mar2020_df, apr2020_df, may2020_df, jun2020_df, jul2020_df, aug2020_df), axis=0)
combined2020sprsummer_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,389,2020-03-01 00:14:07.0000,2020-03-01 00:20:36.0880,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,42381,Subscriber,1992,1
1,242,2020-03-01 00:48:06.4390,2020-03-01 00:52:08.9870,3185,City Hall,40.717733,-74.043845,3205,JC Medical Center,40.716540,-74.049638,42155,Subscriber,1991,1
2,124,2020-03-01 01:08:46.4880,2020-03-01 01:10:51.2780,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,42376,Subscriber,1987,0
3,104,2020-03-01 01:22:35.4790,2020-03-01 01:24:20.2470,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,42350,Subscriber,1993,1
4,228,2020-03-01 01:39:20.2680,2020-03-01 01:43:09.1380,3194,McGinley Square,40.725340,-74.067622,3280,Astor Place,40.719282,-74.071262,42235,Subscriber,1988,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43262,162,2020-08-31 23:43:15.8540,2020-08-31 23:45:58.4550,3186,Grove St PATH,40.719586,-74.043117,3279,Dixon Mills,40.721630,-74.049968,44787,Subscriber,1977,1
43263,400,2020-08-31 23:46:19.9130,2020-08-31 23:53:00.3610,3481,York St,40.716490,-74.041050,3187,Warren St,40.721124,-74.038051,19153,Subscriber,1986,1
43264,288,2020-08-31 23:47:16.8680,2020-08-31 23:52:05.5550,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,42434,Subscriber,1960,1
43265,199,2020-08-31 23:50:37.2650,2020-08-31 23:53:56.9490,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,44226,Subscriber,1994,1
43266,333,2020-08-31 23:55:30.8050,2020-09-01 00:01:04.4110,3211,Newark Ave,40.721525,-74.046305,3270,Jersey & 6th St,40.725289,-74.045572,42437,Subscriber,1984,2

In [12]:
combined2021spr_df = pd.concat((mar2021_df, apr2021_df, may2021_df), axis=0)
combined2021spr_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,ABBBB4D89C620898,docked_bike,2021-03-03 10:32:07,2021-03-03 10:32:40,Jackson Square,JC063,Jackson Square,JC063,40.711130,-74.078900,40.711130,-74.078900,member
1,987BC8C414C77F3E,docked_bike,2021-03-14 00:21:37,2021-03-14 00:22:59,Jackson Square,JC063,Jackson Square,JC063,40.711130,-74.078900,40.711130,-74.078900,casual
2,342C5C515F0F8BCB,docked_bike,2021-03-21 14:39:46,2021-03-21 15:33:10,Jackson Square,JC063,Warren St,JC006,40.711130,-74.078900,40.721124,-74.038051,casual
3,AB28945141163E31,docked_bike,2021-03-14 00:27:21,2021-03-14 00:31:07,Jackson Square,JC063,Jackson Square,JC063,40.711130,-74.078900,40.711130,-74.078900,casual
4,4F5758803BC3DE72,docked_bike,2021-03-12 20:45:29,2021-03-13 08:58:59,Jackson Square,JC063,Jackson Square,JC063,40.711130,-74.078900,40.711130,-74.078900,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45038,62FF3FEDAAD7FCB3,docked_bike,2021-05-31 12:46:22,2021-05-31 12:52:29,Clinton St & 7 St,HB303,7 St & Monroe St,HB304,40.745420,-74.033320,40.746413,-74.037977,casual
45039,E742AEA7068E0E4A,docked_bike,2021-05-31 16:34:19,2021-05-31 16:59:21,Clinton St & 7 St,HB303,Clinton St & 7 St,HB303,40.745420,-74.033320,40.745420,-74.033320,casual
45040,E769F9EE96D6433A,docked_bike,2021-05-17 22:52:35,2021-05-17 23:13:37,Astor Place,JC077,Astor Place,JC077,40.719282,-74.071261,40.719282,-74.071262,casual
45041,EC973614DCA179A2,docked_bike,2021-05-31 20:48:58,2021-05-31 21:16:02,Clinton St & 7 St,HB303,Clinton St & 7 St,HB303,40.745420,-74.033320,40.745420,-74.033320,casual
45042,3571180FE5C52CB1,docked_bike,2021-05-23 14:28:43,2021-05-23 14:30:59,Clinton St & 7 St,HB303,Clinton St & 7 St,HB303,40.745420,-74.033320,40.745420,-74.033320,casual

In [13]:
# Export file as CSV, without the Pandas index, but with the header
sprsummer2019_path = os.path.join('Data', 'Seasonal', 'sprsummer2019-citibike-tripdata.csv')
combined2019sprsummer_df.to_csv(sprsummer2019_path, index=False, header=True)

In [14]:
# Export file as CSV, without the Pandas index, but with the header
sprsummer2020_path = os.path.join('Data', 'Seasonal', 'sprsummer2020-citibike-tripdata.csv')
combined2020sprsummer_df.to_csv(sprsummer2020_path, index=False, header=True)

In [16]:
# Export file as CSV, without the Pandas index, but with the header
spr2021_path = os.path.join('Data', 'Seasonal', 'spr2021-citibike-tripdata.csv')
combined2021spr_df.to_csv(spr2021_path, index=False, header=True)